/* 게시판 공통 */
.layout_width { width: 1200px; margin: 0 auto; }
.board_title { font-size: 2.4rem; font-weight: bold; padding: 15px 0; text-shadow: 1px 1px 2px #d5d5d5; position: relative; }

.board_title.write_btn { display: block; width: 65px; height: 30px; line-height: 30px; text-align: center; background-color: #37003c; color: #ffffff; border-radius: 5px; cursor: pointer; letter-spacing: 1px; font-size: 1.2rem; padding: 0; margin: 0; position: relative; left: 1120px; }

.file_box { border: 1px solid #d5d5d5; padding: 7px 10px; border-radius: 5px; cursor: pointer; margin-right: 2px; }
.file_box i { font-size: 15px; vertical-align: middle; }
.file_box a:hover { text-decoration: underline; }

.list_title { font-size: 1.6rem; padding-left: 5px; }

/** Default 스킨 */
/** 게시글 보기 - view.php */
.board_skin_default.view { margin-bottom: 25px; }
.board_skin_default.view .subject { border: 1px solid #d5d5d5; padding: 15px 10px; font-size: 1.3rem; }
.board_skin_default.view .post_info { padding: 15px 10px; text-align: right; font-size: 1.2rem; }
.board_skin_default.view .rows { border-top: 1px solid #d5d5d5; padding: 10px; }
.board_skin_default.view .contents { border: 1px solid #d5d5d5; padding: 15px; margin-bottom: 10px; min-height: 350px; font-size: 1.2rem; }

.board_btn { font-size: 1.2rem; margin-right: 10px; }

/** 게시글 목록 - list.php */
.board_skin_default.list .list_rows { border-bottom: 1px solid #d5d5d5; }
.board_skin_default.list .list_rows:first-child { border-top: 1px solid #d5d5d5; }
.board_skin_default.list .list_rows .subject { float: left; width: calc(100% - 250px); display: block; padding: 10px; font-size: 1.2rem; }
.board_skin_default.list .list_rows .post_info { float: right;  width: 250px; padding: 10px; text-align: right; font-size: 1.2rem; }
.board_skin_default.list .list_rows:after { clear: both; content: ''; display: block; }

.board_skin_default.list .list_rows:nth-child(2n) { background-color: #f8f8f8; }

.board_write_btn { display: block; width: 65px; height: 30px; line-height: 30px; text-align: center; background-color: #37003c; color: #ffffff; border-radius: 5px; cursor: pointer; letter-spacing: 1px; font-size: 1.2rem; padding: 0; margin: 0; position: relative; left: 1120px; }

.list_wrap { margin-bottom: 20px; }

/** 댓글 - comment.php */
.board_skin_default.comment { margin-bottom: 50px; }
.board_skin_default.comment .comment_list li { border: 1px solid #d5d5d5; padding: 15px; border-radius: 15px; margin-bottom: 10px; position: relative; }
.board_skin_default.comment .comment_list li .comment { font-size: 1.2rem; }
.board_skin_default.comment .comment_list .btns { position: absolute; right: 15px; bottom: 0px; font-size: 1.1rem; cursor: pointer; }
.board_skin_default.comment .comment_list .btns a { margin-left: 5px; }
.board_skin_default.comment .comment_list .post_info { position: absolute; font-size: 1.1rem; text-align: right; right: 90px; bottom: -5px; }

.board_skin_default.comment .comment_form { margin-bottom: 25px; }

.board_skin_default.comment .comment_wrap:after { clear: both; content: ''; display: block; }
.board_skin_default.comment .comment_wrap textarea.comment { float: left; width: calc(100% - 100px); height: 100px; border: 1px solid #d5d5d5; border-right: 0; resize: none; min-height: auto; }
.board_skin_default.comment .comment_wrap input[type='submit'] { float: right; width: 100px; height: 100px; background-color: #37003c; border: 0; display: block; color: #ffffff; cursor: pointer; }

.board_skin_default.comment .post_info input[type='text'] { width: auto; max-width: 120px;  }
.board_skin_default.comment .post_info { margin-bottom: 5px; }
.board_skin_default.comment .comment_data { width: 100%; border: 1px solid #d5d5d5; height: 100px; border-radius: 10px; resize: none; padding: 10px; background-color: #f8f8f8; }

/** 게시글 쓰기 */
.board_skin_default.write { font-size: 1.2rem; }
.board_skin_default.write dl { margin: 0; padding: 0; display: table; width: 100%; }
.board_skin_default.write dt { display: table-cell; vertical-align: middle; width: 70px; padding: 5px; }
.board_skin_default.write dd { display: table-cell; vertical-align: middle; padding: 10px; }
.board_skin_default.write input[type='text'],
.board_skin_default.write input[type='email'] { width: 100%; }
.board_skin_default.write .btn1, .board_skin_default.write label { display: inline-block; width: 85px; height: 30px; line-height: 30px; text-align: center; background-color: #37003c; color: #ffffff; border-radius: 5px; cursor: pointer; letter-spacing: 1px; }

.board_skin_default.write label { position: relative; right: 255px; z-index: 2; }
.board_skin_default.write input[type='file'] { position: relative; left: 10px; z-index: 1; }

.board_skin_default.write .cancel_btn { position: relative; left: 995px; bottom: 2px; display: inline-block; }
.board_skin_default.write .write_btn { position: relative; left: 1000px; display: inline-block; }
.board_skin_default.write .cancel_btn,
.board_skin_default.write .write_btn { width: 85px; height: 36px; line-height: 36px; text-align: center; background-color: #37003c; color: #ffffff; border-radius: 5px; cursor: pointer; letter-spacing: 1px; font-size: 1.2rem; padding: 0; margin: 0; }

/** 게시판 분류 */
.board_skin_default .category_tab { text-align: center; margin: 15px 0; }
.board_skin_default .category_tab .tab { display: inline-block; margin: 0 5px; }
.board_skin_default .category_tab a { display: inline-block; padding: 10px 20px; border: 1px solid #d5d5d5; border-radius: 15px; }
.board_skin_default .category_tab a:hover,
.board_skin_default .category_tab .tab.on a { background-color: #000000; border-color: #000000; color: #ffffff; }

.board_skin_default .no_data { border: 1px solid #d5d5d5; padding: 30px 0; text-align: center; font-size: 14px; }


/** 테이블 형 게시판 목록 */
.board_skin_default .board_list { border-spacing: 0; padding: 0; width: 100%; border-top: 2px solid #212121; }
.board_skin_default .board_list thead th { border-bottom: 1px solid #d5d5d5; padding: 7px 0; font-size: 14px; height: 50px; background-color: #f8f8f8; }
.board_skin_default .board_list tbody td { border-bottom: 1px solid #d5d5d5; padding: 7px 0; font-size: 14px; height: 50px; }
.board_skin_default .board_list .category { color: #666666; }

.board_skin_default .no_post { padding: 80px 0 !important; text-align: center; font-size: 15px !important; font-weight: bold; height: auto !important; }
.board_skin_default .comment_count { color: red; }